<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->


<div class="container-fluid" role="main">

  <!-- TITULO-->
    <h1>{{ title }}</h1>
  <!-- CONTENEDOR PRINCIPAL -->

  <div class="container-fluid area-seleccion row  ">
      <area-seleccion class=" col-md-4"></area-seleccion>
     <!--  <retrato-luchador [] class="col-md-8"></retrato-luchador> -->
  </div>
  <!-- Footer -->
  <footer>

  </footer>



</div>


